@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto';
    font-size: 13px;
}

.notifications-nav {
    position: relative;
    cursor: pointer;
}

.navbar-nav .nav-item {
    position: relative;
    margin-right: 10px;
}

.navbar-nav .nav-item .badge {
    position: absolute;
    left: 19px;
    top: 0px;
}

div.notifications-container,
div.requests-container {
    position: absolute;
    background-color: white;
    width: 170px;
    top: 37px;
    box-shadow: 1px 1px 5px 0px #888888;
    display: none;
}

.lef-nav-part {
    margin-right: 400px;
}

div.notifications-list .notification-item {
    border-bottom: 1px solid #eeeeee;
    padding: 5px;
}

div.notifications-list a:hover {
    text-decoration: none;
}

div.requests-list .request-answers div {
    text-align: center;
    width: 49%;
    cursor: pointer;
    display: inline-block;
}

div.requests-list .request-answers div:hover {
    background-color: #eeeeee;
}

div.requests-list div.notification-item {
    border-bottom: 1px solid #eeeeee;
    padding: 5px;
}

/*Chat CSS*/
#chat_widnow {
    width: 200px;
    border: solid 1px #6c0e4a;
    bottom: 0;
    right: 0;
    position: fixed;
    overflow-x: hidden;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.7) !important;
}

#chat_title_bar {
    background: #FEFEFE;
    height: 25px;
    width: 100%;
}

.avoid-clicks {
    pointer-events: none;
}

#chat_min_button {
    width: 25px;
    height: 23px;
    float: right;
    cursor: pointer;
}
.chatbox-icon-close {
    background-image: url("../Content/images/close.svg");
    width: 20px;
    height: 20px;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
}
.chatbox-icon-mimize {
    background-image: url(../Content/images/minimize-tab.svg);
    width: 20px;
    height: 20px;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
}
#chat_box {
    height: 250px;
    background: #DFDFDF;
}

#chat_box .bg-success {
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
}

#chat_box .bg-info {
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    text-decoration: none;
}

.ui-chatbox .ui-widget-header {
    color: #222222;
    font-weight: 400;
}

.ui-chatbox-input {
    border: 0 !important;
}

.ui-chatbox-input-box {
    width: 189px !important;
}

/*Chat End*/