.post {
    border: 1px solid #00002e;
    border-radius: 5px;
    margin-bottom:10px;
    padding: 10px;
    width: 80%;
}

.posts-container {
    padding: 20px;
}

.posts-container .post-media {
    margin: 20px 0;
    width: 400px;
    height: 400px;
}
.posts-container .post-media img {
    width: 400px;
    height: 400px;
}
body {
    background-color: #eeeeee;
}

.feed-container {
    width: 700px;
    margin: 0 auto;
    background-color: white;
}

.create-post-form textarea {
    width: 81%;
    max-width: none;
    font-size: 20px;
}

.create-post-form {
    padding: 20px;
}

.comment-box {
    width: 98.6%;
    max-height: 200px;
}

.post-comments {
    padding: 5px;
}

    .post-comments .comment {
        background-color: #d3d3d338;
        margin: 5px 5px 5px 0;
        padding: 5px;
    }

.votes {
    text-align: center;
}

.votes,
.votes-action {
    float: right;
    padding-right: 5px;
}
.votes-action {
    padding-right:0px;
    padding-top:3px;
    width: 25px;
    height: 25px;
    border-radius:50%;
    text-align:center;
}
    .votes-action:hover {
        background-color:#eeeeee;
    }

    .post-info {
        font-size: 12px;
        opacity: 0.8;
    }
.votes-action img {
    width: 15px;
    height: 15px;
    opacity: 0.25;
}

        .votes-action img:hover {
            opacity: 1;
            cursor: pointer;
        }

.voted img {
    opacity: 1 !important;
}

.vote-div {
    display: inline-block;
    width: 100px;
}

.post-additional-options {
    width: 18%;
    display: none;
    vertical-align: top;
}
    .post-additional-options .post-video,
    .post-additional-options .post-image,
    .post-additional-options .post-link {
      
        text-align: center;
        padding: 10px;
        border: 1px solid #eeeeee;
        cursor: pointer;
    }
    .post-additional-options .post-video:hover,
    .post-additional-options .post-image:hover,
    .post-additional-options .post-link:hover {
        background-color: #c2bebe;
        transition: background-color 0.5s ease;
    }
.submit-post {
    display:none;
    float: right;
    margin-right: 123px;
}

.popup-overlayer {
    position: fixed;
    display: none; 
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
}

.popup {
    position: fixed;
    display: none;
    width: 500px;
    min-height: 200px;
    background-color: white;
    left: 50%;
    top: 50%;
    padding: 10px;
    -webkit-transform: translateX(-50%) translatey(-50%);
    -moz-transform: translateX(-50%) translatey(-50%);
    transform: translateX(-50%) translatey(-50%);
    z-index: 3;
}
    .popup textarea {
        width: 95%;
        margin: 20px 10px;
    }
.link-upload-panel {
    display:none;
}
.link-upload-panel .preview {
    display: none;
}
    .link-upload-panel .preview img {
        width: 100%;
    }

    .popup  .popup-footer .submit-post {
        margin-right:0;
        background-color:lightgrey;
        display:none ;
    }
.preview-placeholder {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dz-file-preview > div.dz_image > img {
    width: 100%;
    height: 100%;
}
