body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.results-container {
    width: 250px;
    position: absolute;
    background-color: white;
    top: 25px;
    border: 1px solid black;
    display:none;
}
.results-table tr {
    padding:5px;
}
.results-table tr a {
    text-decoration:none;
    color:black

}
.results-table tr a span {
    font-weight:bold;
}
.search-input {
    width:250px;
}
.votes-container {
    display:inline-block;
}

