#dropZone {
    background: gray;
    border: black dashed 3px;
    width: 200px;
    padding: 50px;
    text-align: center;
    color: white;
}

#upload-avatar-form {
    display: inline-block;
}

.hover-action:hover {
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 1px 0 100px 120px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 1px 0 100px 120px inset;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 0 100px 120px inset;
    transition: box-shadow 0.1s ease-in;
}

    .hover-action:hover .tip {
        visibility: visible;
    }

.friends-button {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 10px;
    vertical-align: bottom;
    margin-bottom: 24px;
    cursor: pointer;
}
.friend-request-dialog {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 34px;
    margin-left: 20px;
}
.friend-request-dialog span:first-child {
    margin-right:10px;
}
.friend-request-dialog span:not(:first-child) {
    color:dodgerblue;
    cursor: pointer;
}

.tip {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    width: 180px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.avatar-div {
    position: relative;
    width: 200px;
    height: 200px;
}

    .avatar-div img {
        max-width: 100%;
        position: relative;
        z-index: -1;
    }

.dropzone .dz-preview:not(.dz-processing) .dz-progress {
    visibility: hidden;
}

div.remove-div {
    cursor: pointer !important;
}

    div.remove-div span {
        font-size: 13px;
    }

    div.remove-div .icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
        margin-left: 10px;
    }

.dropzone .dz-preview.dz-image-preview {
    background: transparent;
}

.dz-error-message {
    top: 171px !important;
}
